
@import "../Variables.scss";
//this is the header

// header{
//     z-index: 3;
//     background: rgba(77, 70, 70, 0.25);
//     backdrop-filter: blur(8px);
//     -webkit-backdrop-filter:blur(8px);
//     border-bottom: 1px solid white;
//     position: fixed;
//     top:-100px;
//     width: 100%;
//     transition: ease-in-out top .5s;

  

  
.header-visible{
    top:0px!important;
}


// this is the hero section


.hero-wrapper{
    overflow:hidden;
}
.hero-container{
    height: 100vh;
    z-index: -1;

    .container{     
        height: 100%; 
        
        .time{
            font-family: 'NexaLight';
            font-size: 1.3rem;
            text-align: left;
        }
        .gradient-shade{
            border-left: var(--ss-border-width-025) solid   var(--ss-colors-system-border-onsurface0-rest);
            ;
            border-right: var(--ss-border-width-025) solid   var(--ss-colors-system-border-onsurface0-rest);
            //this is the gradient at the top acting as a header background --but isn't ofc :)
            
            background: linear-gradient(90deg, $primary-orange 0%, $primary-vio 100%);

            // Small devices (Potrait phones, 576px and up)
    
            @media (min-width: 350px) {
                height: 65px;
            }
        
            // Small devices (landscape phones, 576px and up)
            @media (min-width: 576px) {
                height: 65px;
            }
        
            // Medium devices (tablets, 768px and up)
            @media (min-width: 768px) {
                height: 65px;
            }
        
            // Large devices (desktops, 992px and up)
            @media (min-width: 992px) {
                height: 54px;
            }
        
            // X-Large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) {
                height: 53px;
            }
        
            // XX-Large devices (larger desktops, 1400px and up)
            @media (min-width: 1400px) {
                height: 53px;
            }

        }

        .hero{
            height: 95%;  
            gap:var(--ss-spacer-xl);
            display: flex;
            justify-content: flex-end;


            // Small devices (Potrait phones, 576px and up)
    
            @media (min-width: 350px) {
                padding:0 var(--ss-spacer-m);
                
                padding-bottom: var(--ss-spacer-xl);

            }
        
            // Small devices (landscape phones, 576px and up)
            @media (min-width: 576px) {
                padding:0 var(--ss-spacer-m);
                
                padding-bottom: var(--ss-spacer-xl);

            }
        
            // Medium devices (tablets, 768px and up)
            @media (min-width: 768px) {
                padding:0 var(--ss-spacer-m);
                
                padding-bottom: var(--ss-spacer-xl);

            }
        
            // Large devices (desktops, 992px and up)
            @media (min-width: 992px) {
                padding:0 var(--ss-spacer-fxl);
                
                padding-bottom: var(--ss-spacer-xl);

            }
        
            // X-Large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) {
                padding:0 var(--ss-spacer-fxl);
                
                padding-bottom: var(--ss-spacer-xl);

            }
        
            // XX-Large devices (larger desktops, 1400px and up)
            @media (min-width: 1400px) {
                padding:0 var(--ss-spacer-fxl);
                
                padding-bottom: var(--ss-spacer-xl);

            }

            
            .blur_purple_1{
                position: absolute;
                top: -569px;
                left: -769px;
                z-index: 1;
                pointer-events: none;
            }

            .sun_light{
                position: absolute;
                top: -818px;
                right: -1185px;
                z-index: 1;
                pointer-events: none;
                transform: scale(0.8);
            }

            .hero-title{
                gap:var(--ss-spacer-m);

                span{
                    letter-spacing: 0.425em;
                    font-family: 'NexaLight';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 0.8rem;
                }

                h1{
                    div{
                        
                        margin-left: 28px;
                        width: 100%;
                        
                        // Small devices (Potrait phones, 576px and up)
                                
                        @media (min-width: 350px) {
                           
                            margin-left: 13px;
                        }
                        
                        // Small devices (landscape phones, 576px and up)
                        @media (min-width: 576px) {
                            
                            margin-left: var(--ss-spacer-m);
                        
                        }
                        
                        // Medium devices (tablets, 768px and up)
                        @media (min-width: 768px) {
                            
                            margin-left: 20px;
                        
                        }
                        
                        // Large devices (desktops, 992px and up)
                        @media (min-width: 992px) {
                           
                            margin-left: 28px;
                        }
                        
                        // X-Large devices (large desktops, 1200px and up)
                        @media (min-width: 1200px) {
                         
                            margin-left: 28px;
                        }
                        
                        // XX-Large devices (larger desktops, 1400px and up)
                        @media (min-width: 1400px) {
                            
                            margin-left: 28px;
                        }

                        span{
                            font-family: "Monument Extended Bold" !important;
                            
                            // Small devices (Potrait phones, 576px and up)
                                
                            @media (min-width: 350px) {
                                font-size: 2rem;
                                max-width: 330px;
                                margin-left: -13px;
                            }
                            
                            // Small devices (landscape phones, 576px and up)
                            @media (min-width: 576px) {
                                font-size: 2rem;
                                max-width: 330px;
                                margin-left: -16px;
                            
                            }
                            
                            // Medium devices (tablets, 768px and up)
                            @media (min-width: 768px) {
                                font-size: 3rem;
                                max-width: 518px;
                                margin-left: -20px;
                            
                            }
                            
                            // Large devices (desktops, 992px and up)
                            @media (min-width: 992px) {
                                font-size: 4rem;
                                max-width: 700px;
                                margin-left: -28px;
                            }
                            
                            // X-Large devices (large desktops, 1200px and up)
                            @media (min-width: 1200px) {
                                font-size: 4rem;
                                max-width: 700px;
                                margin-left: -28px;
                            }
                            
                            // XX-Large devices (larger desktops, 1400px and up)
                            @media (min-width: 1400px) {
                                font-size: 4rem;
                                max-width: 700px;
                                margin-left: -28px;
                            }
                        }
                    }
                    

                  
                    width: 100%;
                    line-height: 90.6%;

                     // Small devices (Potrait phones, 576px and up)
    
                        @media (min-width: 350px) {
                            font-size: 2rem;
                            max-width: 100%;
                        }
                    
                        // Small devices (landscape phones, 576px and up)
                        @media (min-width: 576px) {
                            font-size: 2rem;
                            max-width: 100%;

                        }
                    
                        // Medium devices (tablets, 768px and up)
                        @media (min-width: 768px) {
                            font-size: 3rem;
                            max-width: 818px;

                        }
                    
                        // Large devices (desktops, 992px and up)
                        @media (min-width: 992px) {
                            font-size: 4rem;
                            max-width: 818px;
                        }
                    
                        // X-Large devices (large desktops, 1200px and up)
                        @media (min-width: 1200px) {
                            font-size: 4rem;
                            max-width: 988px;
                        }
                    
                        // XX-Large devices (larger desktops, 1400px and up)
                        @media (min-width: 1400px) {
                            font-size: 4rem;
                            max-width: 989px;
                        }
                }

                p{
                    font-size: 1.4rem;

                    span{
                        letter-spacing: 0rem;
                        font-size: 1.4rem;
                    }
                }
            }

            .profile_info_top{
                text-align: left !important;
                // Small devices (Potrait phones, 576px and up)
    
                @media (min-width: 350px) {
                  flex-direction: row;
                  gap:var(--ss-spacer-m)
                }
            
                // Small devices (landscape phones, 576px and up)
                @media (min-width: 576px) {
                    flex-direction: column;
                    gap:var(--ss-spacer-m)

                }
            
                // Medium devices (tablets, 768px and up)
                @media (min-width: 768px) {
                    flex-direction: column;
                  gap:var(--ss-spacer-m)

                }
            
                // Large devices (desktops, 992px and up)
                @media (min-width: 992px) {
                    flex-direction: row;
                    justify-content: space-between;
                }
            
                // X-Large devices (large desktops, 1200px and up)
                @media (min-width: 1200px) {
                    flex-direction: row;
                    justify-content: space-between;
                }
            
                // XX-Large devices (larger desktops, 1400px and up)
                @media (min-width: 1400px) {
                    flex-direction: row;
                    justify-content: space-between;
                }

                .profile_detail{
                    gap:var(--ss-spacer-m);

                    .profile_picture{
                        background-image: url("../../public/static/Images/me.jpg");
                        background-size: cover;
                        width:66px;
                        height:66px;
                        border-radius: 100px;
                        border:solid 2px white;

                        // Small devices (Potrait phones, 576px and up)
    
                        @media (min-width: 350px) {
                            width:68px;
                            height:56px;
                        }
                    
                        // Small devices (landscape phones, 576px and up)
                        @media (min-width: 576px) {
                            width:68px;
                            height:56px;
                        }
                    
                        // Medium devices (tablets, 768px and up)
                        @media (min-width: 768px) {
                            width:56px;
                            height:56px;

                        }
                    
                        // Large devices (desktops, 992px and up)
                        @media (min-width: 992px) {
                            width:66px;
                            height:66px;
                        }
                    
                        // X-Large devices (large desktops, 1200px and up)
                        @media (min-width: 1200px) {
                            width:66px;
                            height:66px;
                        }
                    
                        // XX-Large devices (larger desktops, 1400px and up)
                        @media (min-width: 1400px) {
                            width:66px;
                            height:66px;
                        }

                    }

                    .profile_details{
                        width: 100%;
                        max-width: 336px;
                        color: var(--ss-colors-system-text-onsurface0-rest);
                        font-size: 1.2rem;  
                        line-height: 1.56rem;                  
                    }
                }

                .social_links{
                    gap:.5rem;
                    span{
                        font-family: "NexaLight";
                        font-size: 1.2rem;
                    }
                    ul{
                        list-style: none;
                        gap:var(--ss-spacer-m);
                        padding:0;
                        margin: 0;
                        justify-content: start;

                        li{
                            font-size: 0.875rem;
                        }
                    }

                        // Small devices (Potrait phones, 576px and up)
    
                        @media (min-width: 350px) {
                          justify-content: left;
                          text-align: left;

                          ul{
                           
                            justify-content: start;
     
                        }
                        }
                    
                        // Small devices (landscape phones, 576px and up)
                        @media (min-width: 576px) {
                            justify-content: left;
                            text-align: left;

                            ul{
                           
                                justify-content: start;
         
                            }
                        }
                    
                        // Medium devices (tablets, 768px and up)
                        @media (min-width: 768px) {
                            justify-content: left;
                            text-align: left;

                            ul{
                           
                                justify-content: start;
         
                            }
                        }
                    
                        // Large devices (desktops, 992px and up)
                        @media (min-width: 992px) {
                            justify-content: left;
                            text-align: left;

                            ul{
                           
                                justify-content: end;
         
                            }
                        }
                    
                        // X-Large devices (large desktops, 1200px and up)
                        @media (min-width: 1200px) {
                            justify-content: left;
                            text-align: left;

                            ul{
                           
                                justify-content: end;
         
                            }
                        }
                    
                        // XX-Large devices (larger desktops, 1400px and up)
                        @media (min-width: 1400px) {
                            justify-content: left;
                            text-align: left;

                            ul{
                           
                                justify-content: end;
         
                            }
                        }
                   
                }
            }
        }
    }
}
   .container-header-img{
    width: 150px;
       // Small devices (Potrait phones, 576px and up)

    @media (min-width: 350px) {
        display: none;          
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        display: none;          
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        display: flex;          
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        display: flex;          
    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        display: flex;          
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        display: flex;          
    }

    img{
        transform: translateX(-42px);
    }

}

.container-title{
    overflow: hidden;

}
.container-header{
    padding-top: var(--ss-spacer-m);
    padding-bottom: var(--ss-spacer-m);
     gap:var(--ss-spacer-m);
 }