@import "./tokenvariables/tokens.css";
/* Mode 1 */
/* Brand Default colors */
.header-visible {
  top: 0px !important;
}

.hero-wrapper {
  overflow: hidden;
}

.hero-container {
  height: 100vh;
  z-index: -1;
}
.hero-container .container {
  height: 100%;
}
.hero-container .container .time {
  font-family: "NexaLight";
  font-size: 1.3rem;
  text-align: left;
}
.hero-container .container .gradient-shade {
  border-left: var(--ss-border-width-025) solid var(--ss-colors-system-border-onsurface0-rest);
  border-right: var(--ss-border-width-025) solid var(--ss-colors-system-border-onsurface0-rest);
  background: linear-gradient(90deg, getColor(Brand, Orange, 500) 0%, #C25FFD 100%);
}
@media (min-width: 350px) {
  .hero-container .container .gradient-shade {
    height: 65px;
  }
}
@media (min-width: 576px) {
  .hero-container .container .gradient-shade {
    height: 65px;
  }
}
@media (min-width: 768px) {
  .hero-container .container .gradient-shade {
    height: 65px;
  }
}
@media (min-width: 992px) {
  .hero-container .container .gradient-shade {
    height: 54px;
  }
}
@media (min-width: 1200px) {
  .hero-container .container .gradient-shade {
    height: 53px;
  }
}
@media (min-width: 1400px) {
  .hero-container .container .gradient-shade {
    height: 53px;
  }
}
.hero-container .container .hero {
  height: 95%;
  gap: var(--ss-spacer-xl);
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 350px) {
  .hero-container .container .hero {
    padding: 0 var(--ss-spacer-m);
    padding-bottom: var(--ss-spacer-xl);
  }
}
@media (min-width: 576px) {
  .hero-container .container .hero {
    padding: 0 var(--ss-spacer-m);
    padding-bottom: var(--ss-spacer-xl);
  }
}
@media (min-width: 768px) {
  .hero-container .container .hero {
    padding: 0 var(--ss-spacer-m);
    padding-bottom: var(--ss-spacer-xl);
  }
}
@media (min-width: 992px) {
  .hero-container .container .hero {
    padding: 0 var(--ss-spacer-fxl);
    padding-bottom: var(--ss-spacer-xl);
  }
}
@media (min-width: 1200px) {
  .hero-container .container .hero {
    padding: 0 var(--ss-spacer-fxl);
    padding-bottom: var(--ss-spacer-xl);
  }
}
@media (min-width: 1400px) {
  .hero-container .container .hero {
    padding: 0 var(--ss-spacer-fxl);
    padding-bottom: var(--ss-spacer-xl);
  }
}
.hero-container .container .hero .blur_purple_1 {
  position: absolute;
  top: -569px;
  left: -769px;
  z-index: 1;
  pointer-events: none;
}
.hero-container .container .hero .sun_light {
  position: absolute;
  top: -818px;
  right: -1185px;
  z-index: 1;
  pointer-events: none;
  transform: scale(0.8);
}
.hero-container .container .hero .hero-title {
  gap: var(--ss-spacer-m);
}
.hero-container .container .hero .hero-title span {
  letter-spacing: 0.425em;
  font-family: "NexaLight";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
}
.hero-container .container .hero .hero-title h1 {
  width: 100%;
  line-height: 90.6%;
}
.hero-container .container .hero .hero-title h1 div {
  margin-left: 28px;
  width: 100%;
}
@media (min-width: 350px) {
  .hero-container .container .hero .hero-title h1 div {
    margin-left: 13px;
  }
}
@media (min-width: 576px) {
  .hero-container .container .hero .hero-title h1 div {
    margin-left: var(--ss-spacer-m);
  }
}
@media (min-width: 768px) {
  .hero-container .container .hero .hero-title h1 div {
    margin-left: 20px;
  }
}
@media (min-width: 992px) {
  .hero-container .container .hero .hero-title h1 div {
    margin-left: 28px;
  }
}
@media (min-width: 1200px) {
  .hero-container .container .hero .hero-title h1 div {
    margin-left: 28px;
  }
}
@media (min-width: 1400px) {
  .hero-container .container .hero .hero-title h1 div {
    margin-left: 28px;
  }
}
.hero-container .container .hero .hero-title h1 div span {
  font-family: "Monument Extended Bold" !important;
}
@media (min-width: 350px) {
  .hero-container .container .hero .hero-title h1 div span {
    font-size: 2rem;
    max-width: 330px;
    margin-left: -13px;
  }
}
@media (min-width: 576px) {
  .hero-container .container .hero .hero-title h1 div span {
    font-size: 2rem;
    max-width: 330px;
    margin-left: -16px;
  }
}
@media (min-width: 768px) {
  .hero-container .container .hero .hero-title h1 div span {
    font-size: 3rem;
    max-width: 518px;
    margin-left: -20px;
  }
}
@media (min-width: 992px) {
  .hero-container .container .hero .hero-title h1 div span {
    font-size: 4rem;
    max-width: 700px;
    margin-left: -28px;
  }
}
@media (min-width: 1200px) {
  .hero-container .container .hero .hero-title h1 div span {
    font-size: 4rem;
    max-width: 700px;
    margin-left: -28px;
  }
}
@media (min-width: 1400px) {
  .hero-container .container .hero .hero-title h1 div span {
    font-size: 4rem;
    max-width: 700px;
    margin-left: -28px;
  }
}
@media (min-width: 350px) {
  .hero-container .container .hero .hero-title h1 {
    font-size: 2rem;
    max-width: 100%;
  }
}
@media (min-width: 576px) {
  .hero-container .container .hero .hero-title h1 {
    font-size: 2rem;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .hero-container .container .hero .hero-title h1 {
    font-size: 3rem;
    max-width: 818px;
  }
}
@media (min-width: 992px) {
  .hero-container .container .hero .hero-title h1 {
    font-size: 4rem;
    max-width: 818px;
  }
}
@media (min-width: 1200px) {
  .hero-container .container .hero .hero-title h1 {
    font-size: 4rem;
    max-width: 988px;
  }
}
@media (min-width: 1400px) {
  .hero-container .container .hero .hero-title h1 {
    font-size: 4rem;
    max-width: 989px;
  }
}
.hero-container .container .hero .hero-title p {
  font-size: 1.4rem;
}
.hero-container .container .hero .hero-title p span {
  letter-spacing: 0rem;
  font-size: 1.4rem;
}
.hero-container .container .hero .profile_info_top {
  text-align: left !important;
}
@media (min-width: 350px) {
  .hero-container .container .hero .profile_info_top {
    flex-direction: row;
    gap: var(--ss-spacer-m);
  }
}
@media (min-width: 576px) {
  .hero-container .container .hero .profile_info_top {
    flex-direction: column;
    gap: var(--ss-spacer-m);
  }
}
@media (min-width: 768px) {
  .hero-container .container .hero .profile_info_top {
    flex-direction: column;
    gap: var(--ss-spacer-m);
  }
}
@media (min-width: 992px) {
  .hero-container .container .hero .profile_info_top {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .hero-container .container .hero .profile_info_top {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1400px) {
  .hero-container .container .hero .profile_info_top {
    flex-direction: row;
    justify-content: space-between;
  }
}
.hero-container .container .hero .profile_info_top .profile_detail {
  gap: var(--ss-spacer-m);
}
.hero-container .container .hero .profile_info_top .profile_detail .profile_picture {
  background-image: url("../../public/static/Images/me.jpg");
  background-size: cover;
  width: 66px;
  height: 66px;
  border-radius: 100px;
  border: solid 2px white;
}
@media (min-width: 350px) {
  .hero-container .container .hero .profile_info_top .profile_detail .profile_picture {
    width: 68px;
    height: 56px;
  }
}
@media (min-width: 576px) {
  .hero-container .container .hero .profile_info_top .profile_detail .profile_picture {
    width: 68px;
    height: 56px;
  }
}
@media (min-width: 768px) {
  .hero-container .container .hero .profile_info_top .profile_detail .profile_picture {
    width: 56px;
    height: 56px;
  }
}
@media (min-width: 992px) {
  .hero-container .container .hero .profile_info_top .profile_detail .profile_picture {
    width: 66px;
    height: 66px;
  }
}
@media (min-width: 1200px) {
  .hero-container .container .hero .profile_info_top .profile_detail .profile_picture {
    width: 66px;
    height: 66px;
  }
}
@media (min-width: 1400px) {
  .hero-container .container .hero .profile_info_top .profile_detail .profile_picture {
    width: 66px;
    height: 66px;
  }
}
.hero-container .container .hero .profile_info_top .profile_detail .profile_details {
  width: 100%;
  max-width: 336px;
  color: var(--ss-colors-system-text-onsurface0-rest);
  font-size: 1.2rem;
  line-height: 1.56rem;
}
.hero-container .container .hero .profile_info_top .social_links {
  gap: 0.5rem;
}
.hero-container .container .hero .profile_info_top .social_links span {
  font-family: "NexaLight";
  font-size: 1.2rem;
}
.hero-container .container .hero .profile_info_top .social_links ul {
  list-style: none;
  gap: var(--ss-spacer-m);
  padding: 0;
  margin: 0;
  justify-content: start;
}
.hero-container .container .hero .profile_info_top .social_links ul li {
  font-size: 0.875rem;
}
@media (min-width: 350px) {
  .hero-container .container .hero .profile_info_top .social_links {
    justify-content: left;
    text-align: left;
  }
  .hero-container .container .hero .profile_info_top .social_links ul {
    justify-content: start;
  }
}
@media (min-width: 576px) {
  .hero-container .container .hero .profile_info_top .social_links {
    justify-content: left;
    text-align: left;
  }
  .hero-container .container .hero .profile_info_top .social_links ul {
    justify-content: start;
  }
}
@media (min-width: 768px) {
  .hero-container .container .hero .profile_info_top .social_links {
    justify-content: left;
    text-align: left;
  }
  .hero-container .container .hero .profile_info_top .social_links ul {
    justify-content: start;
  }
}
@media (min-width: 992px) {
  .hero-container .container .hero .profile_info_top .social_links {
    justify-content: left;
    text-align: left;
  }
  .hero-container .container .hero .profile_info_top .social_links ul {
    justify-content: end;
  }
}
@media (min-width: 1200px) {
  .hero-container .container .hero .profile_info_top .social_links {
    justify-content: left;
    text-align: left;
  }
  .hero-container .container .hero .profile_info_top .social_links ul {
    justify-content: end;
  }
}
@media (min-width: 1400px) {
  .hero-container .container .hero .profile_info_top .social_links {
    justify-content: left;
    text-align: left;
  }
  .hero-container .container .hero .profile_info_top .social_links ul {
    justify-content: end;
  }
}

.container-header-img {
  width: 150px;
}
@media (min-width: 350px) {
  .container-header-img {
    display: none;
  }
}
@media (min-width: 576px) {
  .container-header-img {
    display: none;
  }
}
@media (min-width: 768px) {
  .container-header-img {
    display: flex;
  }
}
@media (min-width: 992px) {
  .container-header-img {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .container-header-img {
    display: flex;
  }
}
@media (min-width: 1400px) {
  .container-header-img {
    display: flex;
  }
}
.container-header-img img {
  transform: translateX(-42px);
}

.container-title {
  overflow: hidden;
}

.container-header {
  padding-top: var(--ss-spacer-m);
  padding-bottom: var(--ss-spacer-m);
  gap: var(--ss-spacer-m);
}/*# sourceMappingURL=Landing.css.map */