@import "./../Variables.scss";

.projectContainer{
    // Small devices (Potrait phones, 350px and up)
    
    @media (min-width: 350px) {
        padding: getSpacing(0) getSpacing('xl');
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        padding: getSpacing(0) getSpacing('xxl');

    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        padding: getSpacing(0) getSpacing('fxl');


    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        padding: getSpacing(0) getSpacing('fxl');

    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        padding: getSpacing(0) getSpacing('fxl');

    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        padding: getSpacing(0) getSpacing('fxl') ;

    }
}

.projectTitle{
    font-weight: 900;
    line-height: 0.8;

    // Small devices (Potrait phones, 350px and up)
    
    @media (min-width: 350px) {
        font-size: getSize(8);
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        font-size: getSize(8);

    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        font-size: getSize(9);


    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        font-size: getSize(9);

    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        font-size: getSize(10);

    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        font-size: getSize(10);

    }
}
.topLine {
    height: 2px;
    width: 100%;
    background-color: white; /* Set the color as needed */
    position: absolute;
    top: 0;
    left: 0;
  }
  

.projectSectionHeader{
    // border-top: 1px solid $white;
    position: relative;
    padding:  getSpacing('m') getSpacing(0);
    span{
        width: 50%;
    }
    h3{
        width: 50%;
    }
}
.projectInfo{
    // Small devices (Potrait phones, 350px and up)
    
    @media (min-width: 350px) {
        flex-direction: column;
        >:nth-child(0){
            width: 100%;
        }

        >:nth-child(2){
width: 100%;
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        flex-direction: column;

        >:nth-child(1){
            width: 100%;
        }

        >:nth-child(2){
width: 100%;
        }
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        flex-direction: row;

        >:nth-child(1){
            width: 50%;
        }

        >:nth-child(2){
        width: 50%;
        }

    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {        flex-direction: row;

        >:nth-child(1){
            width: 50%;
        }

        >:nth-child(2){
        width: 50%;
        }
    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {        flex-direction: row;

        >:nth-child(1){
            width: 50%;
        }

        >:nth-child(2){
        width: 50%;
        }
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {        flex-direction: row;

        >:nth-child(1){
            width: 50%;
        }

        >:nth-child(2){
        width: 50%;
        }
    }
}

.projectResponsibilities{
    width: fit-content;
    border-radius: getSize(50);
    border: 1px solid $white;
padding: getSpacing('s') getSpacing('m');
}

.projectRepsonibilityAndImage{
// Small devices (Potrait phones, 350px and up)
    
@media (min-width: 350px) {
    flex-direction: column;

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    flex-direction: column;

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    flex-direction: column;


}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    flex-direction: row;

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    flex-direction: row;

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    flex-direction: row;
}
}

.projectResult{
      // Small devices (Potrait phones, 350px and up)
    
@media (min-width: 350px) {
    padding-bottom: 0;

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    padding-bottom: 0;

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    padding-bottom: 0;


}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    padding-bottom: 320px;

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    padding-bottom: 320px;
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
padding-bottom: 320px;
}
}

.ImageGravityCanvas{
    // Small devices (Potrait phones, 350px and up)
    
@media (min-width: 350px) {
    display: none;

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    display: none;

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    display: none;


}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    display: block;

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
display: block;
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    display: block;
}
}

.projectHeroImage{
    
    img{
        width: 100%;
        height: 100%;
    }

    // Small devices (Potrait phones, 350px and up)
    
    @media (min-width: 350px) {
        width: 362px;
        height: 220px;
        order: 1;
        img{
            transform: translate(-20px,-10px );

        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        width: 362px;
        height: 220px;
        order: 1;
        img{
            transform: translate(-20px,-10px );
        }
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        width: 720px;
        height: 432px;
        order: 1;

        img{
            transform: translate(-20px,-10px );
  
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        width: 820px;
        height: 492px;
        order: 2;
        img{
            transform: translate(0px,-50px );

        }
    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        width: 820px;
        height: 492px;
        order: 2;
        img{
            transform: translate(0px,-220px );

        }
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        width: 820px;
        height: 492px;
        order: 2;
        img{
         
            transform: translate(0px,-220px );
        }
    }
}

.projectResponsibility{
     // Small devices (Potrait phones, 350px and up)
    
     @media (min-width: 350px) {
        p{
            font-size: getSize(8);
        }
       
        order: 2;
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        p{
            font-size: getSize(10);
        }
        order: 2;

    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        p{
            font-size: getSize(10);
        }        order: 2;


    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        p{
            font-size: getSize(12);
        }
        order: 1;

    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        p{
            font-size: getSize(12);
        }        order: 1;

    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        p{
            font-size: getSize(12);
        }        order: 1;

    }
}

.projectLeadingTitle{
    padding-bottom: getSpacing('l');
    border-bottom: getSize(2) solid $white;
    font-weight: 900;
    line-height: 0.8;

    // Small devices (Potrait phones, 350px and up)
    
    @media (min-width: 350px) {
        font-size: getSize(16);
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        font-size: getSize(24);

    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        font-size: getSize(44);


    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        font-size: getSize(44);

    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        font-size: getSize(50);

    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        font-size: getSize(50);

    }
}

.projectYear{
    font-weight: 500;
    line-height: 0.8;

    // Small devices (Potrait phones, 350px and up)
    
    @media (min-width: 350px) {
        font-size: getSize(8);
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        font-size: getSize(8);

    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        font-size: getSize(9);


    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        font-size: getSize(9);

    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        font-size: getSize(10);

    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        font-size: getSize(10);

    }
}

.projectFirstScreenShotsSection{
    // Small devices (Potrait phones, 350px and up)
    
    @media (min-width: 350px) {
        flex-direction: column;

        .projectInfo{
            width: 100%;
            position: static;
        }
        .projectFirstScreenshots{
            width: 100%;
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        flex-direction: column;

        .projectInfo{
            width: 100%;
            position: static;
        }
        .projectFirstScreenshots{
            width: 100%;
        }
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        flex-direction: column;

        .projectInfo{
            width: 100%;
            position: static;
        }
        .projectFirstScreenshots{
            width: 100%;
        }

    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        flex-direction: row;

        .projectInfo{
            width: 35%;
            position: sticky;
            top:25%
        }
        .projectFirstScreenshots{
            width: 45%;
        }
    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        flex-direction: row;
        .projectInfo{
            width: 35%;
            position: sticky;
            top:25%
        }
        .projectFirstScreenshots{
            width: 45%;
        }
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        flex-direction: row;
        .projectInfo{
            width: 35%;
            position: sticky;
            top:25%
        }
        .projectFirstScreenshots{
            width: 45%;
        }
    }
}

.projectFirstScreenshots{

     // Small devices (Potrait phones, 350px and up)
    
     @media (min-width: 350px) {
        flex-direction: column;

        .firstLeftScreenshots{
            width: 100%;
        }
        .firstRightScreenshots{
            margin-top: getSpacing(0);
            width: 100%;
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        flex-direction: column;

        .firstLeftScreenshots{
            width: 100%;
        }
        .firstRightScreenshots{
            margin-top: getSpacing(0);
            width: 100%;
        }
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        flex-direction: column;

        .firstLeftScreenshots{
            width: 100%;
        }
        .firstRightScreenshots{
            margin-top: getSpacing(0);
            width: 100%;
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        flex-direction: row;

        .firstLeftScreenshots{
            width: 50%;
        }
        .firstRightScreenshots{
            margin-top: getSpacing(0);
            width: 50%;
        }
    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        flex-direction: row;

        .firstLeftScreenshots{
            width: 50%;
        }
        .firstRightScreenshots{
            margin-top: getSpacing('fxl');

            width: 50%;
        }
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        flex-direction: row;

        .firstLeftScreenshots{
            width: 50%;
        }
        .firstRightScreenshots{
            margin-top: getSize(90);
            width: 50%;
        }
    }
}

.projectBanner{
    overflow: hidden;
    display: flex;
    justify-content: center;
align-items: center;
align-self: stretch;
    // Small devices (Potrait phones, 350px and up)
    
    @media (min-width: 350px) {
        height: 194px;

    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        height: 194px;

    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        height: 264px;

    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        height: 465px;
    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        height: 465px;
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        height: 465px;
    }
}