/* Mode 1 */
/* Brand Default colors */
@media (min-width: 350px) {
  .projectContainer {
    padding: 0px 32px;
  }
}
@media (min-width: 576px) {
  .projectContainer {
    padding: 0px 40px;
  }
}
@media (min-width: 768px) {
  .projectContainer {
    padding: 0px 76px;
  }
}
@media (min-width: 992px) {
  .projectContainer {
    padding: 0px 76px;
  }
}
@media (min-width: 1200px) {
  .projectContainer {
    padding: 0px 76px;
  }
}
@media (min-width: 1400px) {
  .projectContainer {
    padding: 0px 76px;
  }
}

.projectTitle {
  font-weight: 900;
  line-height: 0.8;
}
@media (min-width: 350px) {
  .projectTitle {
    font-size: 16px;
  }
}
@media (min-width: 576px) {
  .projectTitle {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .projectTitle {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .projectTitle {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .projectTitle {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  .projectTitle {
    font-size: 20px;
  }
}

.topLine {
  height: 2px;
  width: 100%;
  background-color: white; /* Set the color as needed */
  position: absolute;
  top: 0;
  left: 0;
}

.projectSectionHeader {
  position: relative;
  padding: 16px 0px;
}
.projectSectionHeader span {
  width: 50%;
}
.projectSectionHeader h3 {
  width: 50%;
}

@media (min-width: 350px) {
  .projectInfo {
    flex-direction: column;
  }
  .projectInfo > :nth-child(0) {
    width: 100%;
  }
  .projectInfo > :nth-child(2) {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .projectInfo {
    flex-direction: column;
  }
  .projectInfo > :nth-child(1) {
    width: 100%;
  }
  .projectInfo > :nth-child(2) {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .projectInfo {
    flex-direction: row;
  }
  .projectInfo > :nth-child(1) {
    width: 50%;
  }
  .projectInfo > :nth-child(2) {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .projectInfo {
    flex-direction: row;
  }
  .projectInfo > :nth-child(1) {
    width: 50%;
  }
  .projectInfo > :nth-child(2) {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .projectInfo {
    flex-direction: row;
  }
  .projectInfo > :nth-child(1) {
    width: 50%;
  }
  .projectInfo > :nth-child(2) {
    width: 50%;
  }
}
@media (min-width: 1400px) {
  .projectInfo {
    flex-direction: row;
  }
  .projectInfo > :nth-child(1) {
    width: 50%;
  }
  .projectInfo > :nth-child(2) {
    width: 50%;
  }
}

.projectResponsibilities {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 100px;
  border: 1px solid #ffffff;
  padding: 8px 16px;
}

@media (min-width: 350px) {
  .projectRepsonibilityAndImage {
    flex-direction: column;
  }
}
@media (min-width: 576px) {
  .projectRepsonibilityAndImage {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .projectRepsonibilityAndImage {
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .projectRepsonibilityAndImage {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .projectRepsonibilityAndImage {
    flex-direction: row;
  }
}
@media (min-width: 1400px) {
  .projectRepsonibilityAndImage {
    flex-direction: row;
  }
}

@media (min-width: 350px) {
  .projectResult {
    padding-bottom: 0;
  }
}
@media (min-width: 576px) {
  .projectResult {
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
  .projectResult {
    padding-bottom: 0;
  }
}
@media (min-width: 992px) {
  .projectResult {
    padding-bottom: 320px;
  }
}
@media (min-width: 1200px) {
  .projectResult {
    padding-bottom: 320px;
  }
}
@media (min-width: 1400px) {
  .projectResult {
    padding-bottom: 320px;
  }
}

@media (min-width: 350px) {
  .ImageGravityCanvas {
    display: none;
  }
}
@media (min-width: 576px) {
  .ImageGravityCanvas {
    display: none;
  }
}
@media (min-width: 768px) {
  .ImageGravityCanvas {
    display: none;
  }
}
@media (min-width: 992px) {
  .ImageGravityCanvas {
    display: block;
  }
}
@media (min-width: 1200px) {
  .ImageGravityCanvas {
    display: block;
  }
}
@media (min-width: 1400px) {
  .ImageGravityCanvas {
    display: block;
  }
}

.projectHeroImage img {
  width: 100%;
  height: 100%;
}
@media (min-width: 350px) {
  .projectHeroImage {
    width: 362px;
    height: 220px;
    order: 1;
  }
  .projectHeroImage img {
    transform: translate(-20px, -10px);
  }
}
@media (min-width: 576px) {
  .projectHeroImage {
    width: 362px;
    height: 220px;
    order: 1;
  }
  .projectHeroImage img {
    transform: translate(-20px, -10px);
  }
}
@media (min-width: 768px) {
  .projectHeroImage {
    width: 720px;
    height: 432px;
    order: 1;
  }
  .projectHeroImage img {
    transform: translate(-20px, -10px);
  }
}
@media (min-width: 992px) {
  .projectHeroImage {
    width: 820px;
    height: 492px;
    order: 2;
  }
  .projectHeroImage img {
    transform: translate(0px, -50px);
  }
}
@media (min-width: 1200px) {
  .projectHeroImage {
    width: 820px;
    height: 492px;
    order: 2;
  }
  .projectHeroImage img {
    transform: translate(0px, -220px);
  }
}
@media (min-width: 1400px) {
  .projectHeroImage {
    width: 820px;
    height: 492px;
    order: 2;
  }
  .projectHeroImage img {
    transform: translate(0px, -220px);
  }
}

@media (min-width: 350px) {
  .projectResponsibility {
    order: 2;
  }
  .projectResponsibility p {
    font-size: 16px;
  }
}
@media (min-width: 576px) {
  .projectResponsibility {
    order: 2;
  }
  .projectResponsibility p {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .projectResponsibility {
    order: 2;
  }
  .projectResponsibility p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .projectResponsibility {
    order: 1;
  }
  .projectResponsibility p {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .projectResponsibility {
    order: 1;
  }
  .projectResponsibility p {
    font-size: 24px;
  }
}
@media (min-width: 1400px) {
  .projectResponsibility {
    order: 1;
  }
  .projectResponsibility p {
    font-size: 24px;
  }
}

.projectLeadingTitle {
  padding-bottom: 24px;
  border-bottom: 4px solid #ffffff;
  font-weight: 900;
  line-height: 0.8;
}
@media (min-width: 350px) {
  .projectLeadingTitle {
    font-size: 32px;
  }
}
@media (min-width: 576px) {
  .projectLeadingTitle {
    font-size: 48px;
  }
}
@media (min-width: 768px) {
  .projectLeadingTitle {
    font-size: 88px;
  }
}
@media (min-width: 992px) {
  .projectLeadingTitle {
    font-size: 88px;
  }
}
@media (min-width: 1200px) {
  .projectLeadingTitle {
    font-size: 100px;
  }
}
@media (min-width: 1400px) {
  .projectLeadingTitle {
    font-size: 100px;
  }
}

.projectYear {
  font-weight: 500;
  line-height: 0.8;
}
@media (min-width: 350px) {
  .projectYear {
    font-size: 16px;
  }
}
@media (min-width: 576px) {
  .projectYear {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .projectYear {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .projectYear {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .projectYear {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  .projectYear {
    font-size: 20px;
  }
}

@media (min-width: 350px) {
  .projectFirstScreenShotsSection {
    flex-direction: column;
  }
  .projectFirstScreenShotsSection .projectInfo {
    width: 100%;
    position: static;
  }
  .projectFirstScreenShotsSection .projectFirstScreenshots {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .projectFirstScreenShotsSection {
    flex-direction: column;
  }
  .projectFirstScreenShotsSection .projectInfo {
    width: 100%;
    position: static;
  }
  .projectFirstScreenShotsSection .projectFirstScreenshots {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .projectFirstScreenShotsSection {
    flex-direction: column;
  }
  .projectFirstScreenShotsSection .projectInfo {
    width: 100%;
    position: static;
  }
  .projectFirstScreenShotsSection .projectFirstScreenshots {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .projectFirstScreenShotsSection {
    flex-direction: row;
  }
  .projectFirstScreenShotsSection .projectInfo {
    width: 35%;
    position: sticky;
    top: 25%;
  }
  .projectFirstScreenShotsSection .projectFirstScreenshots {
    width: 45%;
  }
}
@media (min-width: 1200px) {
  .projectFirstScreenShotsSection {
    flex-direction: row;
  }
  .projectFirstScreenShotsSection .projectInfo {
    width: 35%;
    position: sticky;
    top: 25%;
  }
  .projectFirstScreenShotsSection .projectFirstScreenshots {
    width: 45%;
  }
}
@media (min-width: 1400px) {
  .projectFirstScreenShotsSection {
    flex-direction: row;
  }
  .projectFirstScreenShotsSection .projectInfo {
    width: 35%;
    position: sticky;
    top: 25%;
  }
  .projectFirstScreenShotsSection .projectFirstScreenshots {
    width: 45%;
  }
}

@media (min-width: 350px) {
  .projectFirstScreenshots {
    flex-direction: column;
  }
  .projectFirstScreenshots .firstLeftScreenshots {
    width: 100%;
  }
  .projectFirstScreenshots .firstRightScreenshots {
    margin-top: 0px;
    width: 100%;
  }
}
@media (min-width: 576px) {
  .projectFirstScreenshots {
    flex-direction: column;
  }
  .projectFirstScreenshots .firstLeftScreenshots {
    width: 100%;
  }
  .projectFirstScreenshots .firstRightScreenshots {
    margin-top: 0px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .projectFirstScreenshots {
    flex-direction: column;
  }
  .projectFirstScreenshots .firstLeftScreenshots {
    width: 100%;
  }
  .projectFirstScreenshots .firstRightScreenshots {
    margin-top: 0px;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .projectFirstScreenshots {
    flex-direction: row;
  }
  .projectFirstScreenshots .firstLeftScreenshots {
    width: 50%;
  }
  .projectFirstScreenshots .firstRightScreenshots {
    margin-top: 0px;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .projectFirstScreenshots {
    flex-direction: row;
  }
  .projectFirstScreenshots .firstLeftScreenshots {
    width: 50%;
  }
  .projectFirstScreenshots .firstRightScreenshots {
    margin-top: 76px;
    width: 50%;
  }
}
@media (min-width: 1400px) {
  .projectFirstScreenshots {
    flex-direction: row;
  }
  .projectFirstScreenshots .firstLeftScreenshots {
    width: 50%;
  }
  .projectFirstScreenshots .firstRightScreenshots {
    width: 50%;
  }
}

.projectBanner {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
@media (min-width: 350px) {
  .projectBanner {
    height: 194px;
  }
}
@media (min-width: 576px) {
  .projectBanner {
    height: 194px;
  }
}
@media (min-width: 768px) {
  .projectBanner {
    height: 264px;
  }
}
@media (min-width: 992px) {
  .projectBanner {
    height: 465px;
  }
}
@media (min-width: 1200px) {
  .projectBanner {
    height: 465px;
  }
}
@media (min-width: 1400px) {
  .projectBanner {
    height: 465px;
  }
}/*# sourceMappingURL=Projects.css.map */