
@import "../Variables.scss";

.toggle-menu-section{
    
    height: 95vh;
    width: 100%;
    top:60px;
    position: fixed;
    z-index: 3;
   
    background: rgba(43, 43, 43, 0.66);
    backdrop-filter: blur(20.5px);
    -webkit-backdrop-filter:blur(20.5px);
    overflow: hidden;
    transition: right .5s ease-in-out;
    -webkit-transition:  right .5s ease-in-out;
    -moz-transition: right .5s ease-in-out;
    -o-transition:  right .5s ease-in-out;
  

  

    .toggle-wrapper{
        padding: 6rem 2rem ;
        height: 100%;
        
        
        .toggle-header{

            .Logo{

                align-items: center;
                gap: 1rem;

                .Logo-container{

                    height: 2rem;
                    width: 2rem;
                    background-image: url("../../public/static/Images/Logo.png");
                    background-size: cover;
                    filter: drop-shadow(0px 4px 6px #b51b00);

                }  
                
                span{
                    font-size: 1.5rem;
                }
            }        
        }
        
        .nav-links{
            list-style: none;
            gap:getSpacing('l');
            padding: getSpacing(0);
            margin: 0;
            a{

                text-decoration: none!important;
            }
            
            li{
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                color: $primary;
                padding :1rem;
                gap: getSpacing('l');
              

                &:active{
                    border-top: 1px solid $primary;
                    border-bottom: 1px solid $primary; 
                }

                .itemWithoutChildren{
                    &:active{
                        filter: drop-shadow(0px 0px 10px $primary);

                    }
                }
                .itemWithChildren{

                }

                ul{
                    display: flex;
                    flex-direction: column;
                    padding: getSpacing(0);

                    a{
                        padding: .5rem 1.2rem;
                        text-decoration: none!important;
                        font-family: "NexaLight"!important;
                        font-size: getSize(8);
                        color: getColor(Natural,White,100);

                        &:active{
                            color: getColor(Brand,Orange,500);
                            background: rgba(255, 255, 255, 0.048);
                             }
                    }
                }
            }
        }
    }

    .copyright{
        font-family: 'NexaLight';
    }
}

.toggle-active{
   
    opacity: 1!important;
    pointer-events: all!important;
    right: 0!important;
    

}

.toggle-inactive{
    
    transition: 0.8s cubic-bezier(0, 0, 0, 1.01);
    pointer-events: none;
    right: -300%;

}


