@import "../../Variables.scss";

.alertMessage{
    position: fixed;
    z-index: 12;
    left: 0;
    width: 100%;
    color: white;
    top:-100%;
padding:getSpacing('s');
transition: ease-in-out .5s;
color: white;
align-items: center;
justify-content: center;
font-family: "NexaLight";
font-size: getSize(8);
}

.alertMessageActive{
    position: fixed;
    top:0;
    left: 0;

}

.alertSuccess{
    background-color: $brand-green;
    color: white;
}

.alertError{
    background-color:red;color: white;
}

.AlertIconHolder{
    width: 24px;
    height: 24px;

    svg{
        width: 100%;
        height: 100%;
    }
}