@import "../../Variables.scss";
// @import './../../tokens';

.btn{
    text-transform: uppercase;
}

.btn-down{
    color: white;
    text-transform: lowercase;
    display: flex;
    gap:.5rem;
    align-items: center;

    &:hover{
        text-decoration: underline;
        svg{
            transform: translateY(0)!important;
        }
    }

    

}
.btn-down:active{
    border-color:transparent!important;
}


.btn-outline-primary{
    border-radius: 0px;
    // border-color:$agentcis-system-text-action ;
    padding: 0.625 1rem;
    overflow: hidden;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top:0;
        left: -1000px;
        background-color: $primary;
        height: 100px;
        width: 10px;
        filter: blur(10px);
        transition: ease-in-out .8s;
        transform: rotateY(45deg);
    }

    &:hover{
        &::before{
            content: '';
            top:0;
            left: 1000px;
           
        }
    }

    img{
        z-index: 1;
        top:-60px;
        left: -100%;
        transition: ease-in-out .8s;
        
    }

    //hover state

    &:hover{
        background: none;
        color: $primary;
        filter: drop-shadow(0px 0px 10px $primary);

        svg{
            fill: $primary;
        }

        img{
            left: 100%;
        }
    }

     //active state

     &:active{

        svg{
            fill: black;
        }
     }
}

.btn-icon{
    
    svg{
        fill: white;
        transform: scale(1.5);
    }
  
}