@import "../../Variables.scss";

.dropdown_menu{
position: absolute;
border-radius: getSize(4);
top:120%;
z-index: 100;
gap: 0em!important;
display: flex;
flex-direction: column;
list-style: none;
background-color:getColor(Tailwind,Neutral,600);
max-width: 260px;
width: 260px;
overflow: hidden;
padding: .5rem 0!important;



    .dropdown_item{
padding: .5rem 1.2rem;
text-decoration: none!important;
color: getColor(Tailwind, Gray,100);


&:hover{
    background-color: getColor(Tailwind,Neutral,500);
    color: $primary-orange;

   
}
    }
}