@import "../../Variables.scss";

.dropdown_menu{
position: absolute;
border-radius: getSize(6);
transform: translate3d(0px, 12px, 0px);
z-index: 100;
gap: 0em!important;
display: flex;
flex-direction: column;
font-family: "NexaLight";
list-style: none;
background: getColor(Brand,Black,200);
max-width: 260px;
width: max-content;
overflow: hidden;
padding: getSpacing('s') !important;



.dropdown_item{
padding: .5rem 1.2rem;
text-decoration: none!important;
text-transform: uppercase;
color: getColor(Tailwind, Gray,100);
border-radius: getSize(4);



&:hover{
    color: $primary-orange;
    background: getColor(Brand,Black,400);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
}
    }
}