
footer{
    .container{

    
    color: var(--ss-colors-system-text-onsurface0-rest);
    .newcontainer{
        padding: var(--ss-spacer-m) var(--ss-spacer-0);
        border-top: 1px solid var(--ss-colors-system-border-onsurface0-rest);

        span{
            font-size: 1rem;
            font-family:"NexaLight";
            font-weight: 500;
            color: var(--ss-colors-system-text-onsurface0-muted);
        }
    }

        // Small devices (Potrait phones, 576px and up)

        @media (min-width: 350px) {
            .newcontainer{
                gap:var(--ss-spacer-f);
                flex-direction: column!important;
                text-align: center;
            }         
        }
    
        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) {
            .newcontainer{
                gap:var(--ss-spacer-s);
                flex-direction: column!important;
                text-align: center;
            }          
        }
    
        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            .newcontainer{
           
                flex-direction: row!important;
                text-align: center;
            }         
        }
    
        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            .newcontainer{
                flex-direction: row!important;
                text-align: center;
            }         
        }
    
        // X-Large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
            .newcontainer{
                flex-direction: row!important;
                text-align: center;
            }           
        }
    
        // XX-Large devices (larger desktops, 1400px and up)
        @media (min-width: 1400px) {
            .newcontainer{
                flex-direction: row!important;
                text-align: center;
                
            }          
        }
    }
}
