@import "../../Variables.scss";

.BRANDInput {
  position: relative;
  font-family: 'NexaLight';
  height: getSize(28);
  background: none;
  border: none;
  outline: none;
  font-size: getSize(16);
  color: getColor(Natural, White, 100);
  padding: 0px 16px;

  &::placeholder {
    color: getColor(Tailwind, Gray, 500);
  }

&:hover{
    background-color: getColor(Brand,Black,300);
}
&:focus{
    background-color: getColor(Brand,AlphaOrange,500);
    
    &::placeholder {
        color: getColor(Tailwind, Gray, 500);
    }
}

  
}


    // Small devices (landscape phones, 350px and up)

@media (min-width: 350px) {
    .BRANDInput{
        font-size: getSize(8)
         
    }
        
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        .BRANDInput{
            font-size: getSize(8)
             
        }    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        .BRANDInput{
            font-size: getSize(10)
             
        }    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        .BRANDInput{
            font-size: getSize(10)
             
        }
    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        .BRANDInput{
            font-size: getSize(12)
             
        }
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        .BRANDInput{
            font-size: getSize(12)
             
        }
    }

    .InputLabel{
        font-size: getSize(10);
        color: white;
    }

    .errorMessage{
        color: $white;
        background-color: $primary-red;
        font-size: getSize(6);
        padding: getSpacing('xs') getSpacing('s');
    }