@import "../../Variables.scss";

.MessageBulb{
    padding: getSpacing('xl') getSpacing('s');
}

.meSender{
    width: 40px;
height: 40px;
border-radius:getBorderRadius(100);
border: 4px solid white;
}
.messages{
    list-style: none;
    margin: 0;
    padding: 0;
    .message{
        padding: getSpacing('m');
        font-family: 'NexaLight';
        font-size: 16px;
        background-color: $primary-purple;
        border-radius: getBorderRadius('l')   getBorderRadius('l')  getBorderRadius('l') 0;
    }

    .message-reverse{
        padding: getSpacing('m');
        font-family: 'NexaLight';
        font-size: 16px;
        background-color: $primary-purple;
        border-radius:getBorderRadius('l')   getBorderRadius('l') 0 getBorderRadius('l');
    }
}