
@import "../../Variables.scss";

.subHeader{
    background: transparent;
    padding: .8rem 0;
    position:fixed;
    width: 100%;
    z-index: 3;
    transition: ease-in-out top .5s;
    top:-100px;


    //the visible class is under Landing.scss/header-visible

    
    .container{


        a{
            background-color: getColor(Brand,Black,100);
            border-radius: 100px;
            padding: .4rem .8rem;
                gap: .5rem;

            span{
                font-size: 1.2rem;
                font-family: 'NexaLight';
                color: $white;
            }

                .btn-contain{
                    // width: 40px;
                   
                    // height:40px;
                }

                
                 div{
                    svg{
                        transform: translateX(0px);
                        transition: ease-in .2s;
                    }
            }

            &:hover{

                svg{
                    transform: translateX(-2px);
                }

                span{
                    color:$primary-orange

                }
            }
        }
    }

}

// filter: drop-shadow(0px 4px 6px #b51b00);