/* Mode 1 */
/* Brand Default colors */
.btn {
  text-transform: uppercase;
}

.btn-down {
  color: white;
  text-transform: lowercase;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.btn-down:hover {
  text-decoration: underline;
}
.btn-down:hover svg {
  transform: translateY(0) !important;
}

.btn-down:active {
  border-color: transparent !important;
}

.btn-outline-primary {
  border-radius: 0px;
  padding: 0.625 1rem;
  overflow: hidden;
  position: relative;
}
.btn-outline-primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1000px;
  background-color: #FB722E;
  height: 100px;
  width: 10px;
  filter: blur(10px);
  transition: ease-in-out 0.8s;
  transform: rotateY(45deg);
}
.btn-outline-primary:hover::before {
  content: "";
  top: 0;
  left: 1000px;
}
.btn-outline-primary img {
  z-index: 1;
  top: -60px;
  left: -100%;
  transition: ease-in-out 0.8s;
}
.btn-outline-primary:hover {
  background: none;
  color: #FB722E;
  filter: drop-shadow(0px 0px 10px #FB722E);
}
.btn-outline-primary:hover svg {
  fill: #FB722E;
}
.btn-outline-primary:hover img {
  left: 100%;
}
.btn-outline-primary:active svg {
  fill: black;
}

.btn-icon svg {
  fill: white;
  transform: scale(1.5);
}

.BTNICON {
  outline: none;
  padding: 8px;
  color: getColor(Brand, Orange, 500);
  background-color: #292828;
  padding: 16px 16px;
  text-transform: none;
  border-radius: 100px;
}
.BTNICON:hover {
  border-color: getColor(Brand, Orange, 500) !important;
  color: #ffffff !important;
  background-color: #292828;
}
.BTNICON:active {
  background-color: #0b0b0b;
}

.BTNBrand {
  position: relative;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Monument Extended Bold" !important;
  overflow: hidden;
  background: none;
  outline: none;
  box-sizing: border-box;
}

.BTNBrandHighlight {
  position: absolute;
  left: -100%;
  height: 200px;
  width: 20px;
  transition: all 0.5s ease-in-out;
  transform: rotate(45deg);
  filter: blur(12.5px);
}

.BTNBrandSmall {
  padding: 10px 14px;
  font-size: 10px;
}
.BTNBrandSmall .IconHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
}

.BTNBrandMedium {
  padding: 10px 16px;
  font-size: 16px;
}
.BTNBrandMedium .IconHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
}

.BTNBrandLarge {
  padding: 16px 24px;
  font-size: 22px;
}
.BTNBrandLarge .IconHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
}

.BTNBrandOutline {
  border: 1px solid getColor(Brand, Orange, 500);
  color: getColor(Brand, Orange, 500);
  transition: ease-in-out 0.2s;
}
.BTNBrandOutline:hover .BTNBrandHighlight {
  background-color: getColor(Brand, Orange, 500);
  left: 200%;
}
.BTNBrandOutline:active {
  color: getColor(Brand, Black, 500);
  background-color: getColor(Brand, Orange, 500);
}

.BTNBrandSolid {
  background-color: getColor(Brand, Orange, 500);
  border: 1px solid getColor(Brand, Orange, 500);
  transition: ease-in-out 0.2s;
  color: #ffffff;
}
.BTNBrandSolid:hover .BTNBrandHighlight {
  background-color: #fbece6;
  left: 200%;
}
.BTNBrandSolid:active {
  color: getColor(Brand, Black, 500);
  background-color: getColor(Brand, Orange, 500);
  text-shadow: 0px 4px 10px #620;
}

.BTNBrandAlternate {
  background-color: #292828;
  border: 1px solid #292828;
  color: getColor(Brand, Orange, 500);
  transition: ease-in-out 0.2s;
}
.BTNBrandAlternate:hover .BTNBrandHighlight {
  background-color: #fbece6;
  left: 200%;
}
.BTNBrandAlternate:active {
  background-color: #0b0b0b;
  border: 1px solid #0b0b0b;
}

.BTNBrandLoading {
  background-color: rgba(251, 114, 46, 0.1490196078);
  border: 1px solid rgba(251, 114, 46, 0.1490196078);
  color: getColor(Brand, Orange, 500);
  transition: ease-in-out 0.2s;
}
.BTNBrandLoading .spinner {
  animation: rotateClockwise 1s infinite linear;
}

@keyframes rotateClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal-content {
  color: rgb(22, 21, 21);
}

.modal-body {
  font-family: "NexaLight";
  font-size: 1.4rem;
  align-items: center;
}

/* Mode 1 */
/* Brand Default colors */
.subHeader {
  background: transparent;
  padding: 0.8rem 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: ease-in-out top 0.5s;
  top: -100px;
}
.subHeader .container a {
  background-color: #292828;
  border-radius: 100px;
  padding: 0.4rem 0.8rem;
  gap: 0.5rem;
}
.subHeader .container a span {
  font-size: 1.2rem;
  font-family: "NexaLight";
  color: #ffffff;
}
.subHeader .container a div svg {
  transform: translateX(0px);
  transition: ease-in 0.2s;
}
.subHeader .container a:hover svg {
  transform: translateX(-2px);
}
.subHeader .container a:hover span {
  color: #fb722e;
}

/* Mode 1 */
/* Brand Default colors */
.BRANDInput {
  position: relative;
  font-family: "NexaLight";
  height: 56px;
  background: none;
  border: none;
  outline: none;
  font-size: 32px;
  color: #ffffff;
  padding: 0px 16px;
}
.BRANDInput::-moz-placeholder {
  color: #6b7280;
}
.BRANDInput::placeholder {
  color: #6b7280;
}
.BRANDInput:hover {
  background-color: #1d1c1c;
}
.BRANDInput:focus {
  background-color: rgba(251, 114, 46, 0.1490196078);
}
.BRANDInput:focus::-moz-placeholder {
  color: #6b7280;
}
.BRANDInput:focus::placeholder {
  color: #6b7280;
}

@media (min-width: 350px) {
  .BRANDInput {
    font-size: 16px;
  }
}
@media (min-width: 576px) {
  .BRANDInput {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .BRANDInput {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .BRANDInput {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .BRANDInput {
    font-size: 24px;
  }
}
@media (min-width: 1400px) {
  .BRANDInput {
    font-size: 24px;
  }
}
.InputLabel {
  font-size: 20px;
  color: white;
}

.errorMessage {
  color: #ffffff;
  font-family: "Nexa Bold";
  background-color: #EF164A;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.48px;
  padding: 4px 8px;
}

/* Mode 1 */
/* Brand Default colors */
.dropdown_menu {
  position: absolute;
  border-radius: 12px;
  transform: translate3d(0px, 12px, 0px);
  z-index: 100;
  gap: 0em !important;
  display: flex;
  flex-direction: column;
  font-family: "NexaLight";
  list-style: none;
  background: #232222;
  max-width: 260px;
  width: -moz-max-content;
  width: max-content;
  overflow: hidden;
  padding: 8px !important;
}
.dropdown_menu .dropdown_item {
  padding: 0.5rem 1.2rem;
  text-decoration: none !important;
  color: #f3f4f6;
  border-radius: 8px;
}
.dropdown_menu .dropdown_item:hover {
  color: #fb722e;
  background: #161515;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
}

/* Mode 1 */
/* Brand Default colors */
header {
  z-index: 100;
  background: rgba(77, 70, 70, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-bottom: 1px solid white;
  position: fixed;
  top: -100px;
  width: 100%;
  transition: ease-in-out top 0.5s;
}
header .container {
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}
header nav {
  align-items: center;
  padding: 0.5rem 1rem;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}
header nav .Logo {
  gap: 1rem;
  align-items: center;
}
header nav .Logo .Logo-container {
  height: 2rem;
  width: 2rem;
  background-image: url("../../../public/assets/Logo.png");
  background-size: cover;
  filter: drop-shadow(0px 4px 6px #b51b00);
}
header nav .Logo span {
  font-size: 1.5rem;
}
header nav .links ul {
  gap: 4rem;
  padding: 0;
  margin: 0;
}
header nav .links ul li {
  font-family: "NexaLight";
  font-size: 1rem;
  align-items: center;
}
header nav .links ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  transition: ease-in;
}
header nav .links ul li a span {
  font-family: "NexaBold";
  font-weight: 900;
  letter-spacing: 0.05rem;
  font-size: 1rem;
}
header nav .links ul li a .send-btn {
  border-radius: 100px;
  height: 32px;
  width: 32px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px #C25FFD;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .links ul li a .send-btn svg {
  fill: #fb722e;
  transition: ease-in-out 0.5s;
}
header nav .links ul li:hover a {
  text-decoration: underline;
}
header nav .links .ham-menu {
  display: block;
  background: none;
  outline: none;
  border: none;
}
header nav .links .ham-menu svg .topRect {
  transition: cubic-bezier(0.75, -0.42, 1, 1) 0.5s;
}
header nav .links .ham-menu svg .midRect {
  transition: cubic-bezier(0.75, -0.42, 1, 1) 0.5s;
}
header nav .links .ham-menu svg .lowRect {
  transition: cubic-bezier(0.75, -0.42, 1, 1) 0.5s;
}
header nav .links .ham-icon-active .topRect {
  transform: translateX(-100%);
}
header nav .links .ham-icon-active .lowRect {
  transform: translateX(100%);
}
@media (min-width: 350px) {
  header nav .links ul {
    display: none !important;
  }
  header nav .links .ham-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header nav .links .ham-menu svg {
    transform: scale(1.3);
  }
}
@media (min-width: 576px) {
  header nav .links ul {
    display: none !important;
  }
  header nav .links .ham-menu {
    display: flex;
  }
}
@media (min-width: 768px) {
  header nav .links ul {
    display: none !important;
  }
  header nav .links .ham-menu {
    display: flex;
  }
}
@media (min-width: 992px) {
  header nav .links ul {
    display: flex !important;
  }
  header nav .links .ham-menu {
    display: none;
  }
}
@media (min-width: 1200px) {
  header nav .links ul {
    display: flex !important;
  }
  header nav .links .ham-menu {
    display: none;
  }
}
@media (min-width: 1400px) {
  header nav .links ul {
    display: flex !important;
  }
  header nav .links .ham-menu {
    display: none;
  }
}

.header-visible {
  top: 0px !important;
}

.nav-connect:hover svg {
  transform: translateY(-6px);
  filter: drop-shadow(0px 4px 4px #C25FFD);
}

footer .container {
  color: white;
}
footer .container .copyrights {
  padding: 24px 0;
  border-top: 1px solid white;
}
footer .container .copyrights span {
  font-size: 1rem;
  font-family: "NexaLight";
  font-weight: 500;
}
@media (min-width: 350px) {
  footer .container .copyrights {
    gap: 0.5rem;
    flex-direction: column !important;
    text-align: center;
  }
}
@media (min-width: 576px) {
  footer .container .copyrights {
    gap: 0.5rem;
    flex-direction: column !important;
    text-align: center;
  }
}
@media (min-width: 768px) {
  footer .container .copyrights {
    flex-direction: row !important;
    text-align: center;
  }
}
@media (min-width: 992px) {
  footer .container .copyrights {
    flex-direction: row !important;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  footer .container .copyrights {
    flex-direction: row !important;
    text-align: center;
  }
}
@media (min-width: 1400px) {
  footer .container .copyrights {
    flex-direction: row !important;
    text-align: center;
  }
}

/* Mode 1 */
/* Brand Default colors */
.alertMessage {
  position: fixed;
  z-index: 12;
  left: 0;
  width: 100%;
  color: white;
  top: -100%;
  padding: 8px;
  transition: ease-in-out 0.5s;
  color: white;
  align-items: center;
  justify-content: center;
  font-family: "NexaLight";
  font-size: 16px;
}

.alertMessageActive {
  position: fixed;
  top: 0;
  left: 0;
}

.alertSuccess {
  background-color: #4bd20b;
  color: white;
}

.alertError {
  background-color: #EF164A;
  color: white;
}

.AlertIconHolder {
  width: 24px;
  height: 24px;
}
.AlertIconHolder svg {
  width: 100%;
  height: 100%;
}

/* Mode 1 */
/* Brand Default colors */
.MessageBulb {
  padding: 32px 8px;
}

.meSender {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 4px solid white;
}

.messages {
  list-style: none;
  margin: 0;
  padding: 0;
}
.messages .message {
  padding: 16px;
  font-family: "NexaLight";
  font-size: 16px;
  background-color: #fb722e;
  border-radius: 24px 24px 24px 0;
}
.messages .message-reverse {
  padding: 16px;
  font-family: "NexaLight";
  font-size: 16px;
  background-color: #fb722e;
  border-radius: 24px 24px 0 24px;
}/*# sourceMappingURL=CustomComponents.css.map */