@import "./Variables.scss";

////-----------------------------------------Font-----------------------------------------------
.FONTMONUMENT{
  font-family: "Monument Extended Bold"!important;
}

.FONTNEXA{
  font-family: "NexaLight"!important;
}


////------------------------------------------- color -------------------------------------------------

//Background
@each $color-type, $Color in $Colors {
  @each $color-group, $shades in $Color {
    @each $shade, $value in $shades {
      .BG#{$color-type}#{$color-group}#{$shade} {
        background-color: $value!important;
      }
    }
  }
}

//Text
@each $color-type, $Color in $Colors {
  @each $color-group, $shades in $Color {
    @each $shade, $value in $shades {
      .TXT#{$color-type}#{$color-group}#{$shade} {
        color: $value!important;
      }
    }
  }
}

//Border
@each $color-type, $Color in $Colors {
  @each $color-group, $shades in $Color {
    @each $shade, $value in $shades {
      .BRDR#{$color-type}#{$color-group}#{$shade} {
        border-color: $value!important;
      }
    }
  }
}

////-----------------------------------------Size and Spacing-----------------------------------------------

//------------------Size--------------------

// Sizes
@each $key, $value in $Sizes {

  //height,width and font

  //Width
  .SIZEW#{$key} {
    width: $value!important;
    // You can customize this to apply the size property you need
  }

  //height
  .SIZEH#{$key} {
    width: $value!important;
    // You can customize this to apply the size property you need
  }

  //font
   .SIZEF#{$key} {
    font-size: $value!important;
    // You can customize this to apply the size property you need
  }
}

//--------------------- Border Radius--------------------------
// Border Radius
@each $key, $value in $Sizes {
  .BDR#{$key} {
    border-radius: $value!important;
  }
}


//------------------Spacing--------------------
// Margin

//all sides
@each $abbreviation, $value in $Spacing {
  .MARGIN#{$abbreviation} {
    margin: $value!important;
  }
}

// Padding
@each $abbreviation, $value in $Spacing {
  .PADDING#{$abbreviation} {
    padding: $value!important;
  }
}

// Gap
@each $abbreviation, $value in $Spacing {
  .GAP#{$abbreviation} {
    gap: $value!important;
  }
}


//individual sides
// Margin
@each $abbreviation, $value in $Spacing {
  .MT#{$abbreviation} {
    margin-top: $value!important;
  }
  
  .MR#{$abbreviation} {
    margin-right: $value!important;
  }
  
  .MB#{$abbreviation} {
    margin-bottom: $value!important;
  }
  
  .ML#{$abbreviation} {
    margin-left: $value!important;
  }
}

// Padding
@each $abbreviation, $value in $Spacing {
  .PT#{$abbreviation} {
    padding-top: $value!important;
  }
  
  .PR#{$abbreviation} {
    padding-right: $value!important;
  }
  
  .PB#{$abbreviation} {
    padding-bottom: $value!important;
  }
  
  .PL#{$abbreviation} {
    padding-left: $value!important;
  }
}




